* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: hsl(60, 52%, 90%);
    --secondary-color: hsl(82, 39%, 30%);
    --accent-color: hsl(11, 70%, 65%);
    --text-color: hsl(0, 0%, 29%);
    --secondary-text-color:  hsl(43, 3%, 97%);
}

body {
    font-family: "Alan Sans", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
    color: var(--text-color);
    text-decoration: none;
}

.header img {
    height: 45px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header .btn-primary {
    font-family: "Alan Sans", sans-serif;
    font-weight: 600;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .btn-primary:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    transform: translateY(-1px);
    box-shadow: 0 10px 20px var(--secondary-color);
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.content img {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}


@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 1rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        width: 200px;
        padding: 1rem 0;
        z-index: 100;
    }

    .menu li {
        width: 100%;
    }
    .menu li a {
        display: block;
        width: 100%;
        padding: 0.75rem 1.5rem;
    }

    .menu-toggle {
        display: block;
    }

    .menu.active {
        display: flex;
    }

    .search {
        display: none;
    }
}
[id] {
    scroll-margin-top: 80px;
}
