* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Alan Sans';
    --main-color: hsl(60, 52%, 90%);
    --secondary-color: hsl(82, 39%, 30%);
    --accent-color: hsl(11, 70%, 65%);
    --text-color: hsl(0, 0%, 29%);
    --secondary-text-color:  hsl(43, 3%, 97%);
    --icon-color: hsl(82, 39%, 50%)
}

body {
    font-family: var(--main-font), sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

button {
    font-family: var(--main-font), sans-serif;
}

input {
    font-family: var(--main-font), sans-serif;
}

.header {
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
    color: var(--text-color);
    text-decoration: none;
}

.header img {
    height: 45px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header .btn-primary {
    font-weight: 600;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .btn-primary:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    transform: translateY(-1px);
    box-shadow: 0 10px 20px var(--secondary-color);
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.content img {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Home Section */
.home {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
}

.home-carrousel {
    position: relative;
    height: 100%;
}

.home-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.home-slide.active {
    opacity: 1;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(74, 74, 74, 0.4), rgb(74, 74, 74, 0.6));
    backdrop-filter: blur(5px);
}

.home-content {
    color: var(--secondary-text-color);
    position: absolute;
    width: 70%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}

.home-slide.active .home-content .title,
.home-content .title{
    font-size: 4rem;
    font-weight: 700;
    animation: fadeInUp 1s ease;
}

.home-slide.active .home-content .subtitle,
.home-content .subtitle{
    font-size: 1.5rem;
    font-weight: 300;
    animation: fadeInUp 1s ease 0.2s backwards;
}

.home-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: none;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;
    border-radius: 15px;
}

.home-nav.prev {
    left: 2rem;
}

.home-nav.next {
    right: 2rem;
}

/* Search Section */

.search-bar {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 2rem;
    border-radius: 24px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1000px;
    z-index: 10;
}

.search-tabs-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.search-tab {
    background: none;
    border: none;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.search-tab i {
    color: var(--icon-color);
}

.search-tab.active {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

.search-filter-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.filter-items {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--main-color);
    padding: 0.75rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.filter-items i, .btn-search i {
    color: var(--icon-color);
}

.filter-items input,
.filter-items select {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 0.95rem;
    width: 100%;
}

.btn-search {
    font-size: 1rem;
    padding: 0.75rem;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-search:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 20px var(--secondary-color);
    color: var(--secondary-text-color);
    transform: translateY(-1px);
}

.content {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
}

.services {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
}

.testimonial {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
}

.agent {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
}

.contact {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 1rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        width: 200px;
        padding: 1rem 0;
        z-index: 100;
    }

    .menu li {
        width: 100%;
    }
    .menu li a {
        display: block;
        width: 100%;
        padding: 0.75rem 1.5rem;
    }

    .menu-toggle {
        display: block;
    }

    .menu.active {
        display: flex;
    }

    .search {
        display: none;
    }

    .home-nav {
        top: 30%;
    }
}
[id] {
    scroll-margin-top: 80px;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}